body {
    font-family: sans-serif;
    font-size: 24px;
    background-color: #333
}

#container {
    background-color: #ccc;
    margin: 80px auto;
    width: 80%;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #c00;
    text-align: center;
}

p{
    padding: 10px;
}

p#first {
    color: #c00;
}

#second{
    padding: 10px;
    color: #aa0;
    font-family: 'Quintessential', cursive;
}

p#add {
    color: #080;
}

p#subscribe {
    color: #ff4389;
}